@import '../base/variables';

/* Inicia RRHH */

#form-nombre {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 10px;
}

#form-email {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 10px;
}

#form-cv {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 10px;
}

#form-comentarios {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 10px;
}

#boton-rrhh {
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 10px;
}

/* Finaliza RRHH */