@import '../base/variables';

/*Footer*/

footer {
    text-align: center;
    font-family: $font;
    color: $font-color;
    background-color: $bg-color-footer;
    width: 100%;
    margin-top: 100px;
}

#siguenos {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    font-weight: 400;
    font-style: italic;
    font-weight: bold;
    font-family: $font;
    padding-left: 40px;
    margin-bottom: 30px;
}

.redes-sociales:hover {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 30px;
    text-align: center;
    font-family: $font;
    color: $font-color;
    outline: none;
    text-decoration: none;
    transform: scale(1.5);
    transition: all 1.5s;
}
